<h1>Welcome to battleshift.com, <%= @user.name %></h1>
    <p>
      You have successfully signed up to battleshift.com,
      your login is: <%= @user.email %><br>
    </p>
    <p>
      Visit here to activate your account: <%= @url %>
    </p>
    <p>
      For Gameplay use the following API Key: <%= @user.active_api_key.id %>
    </p>
    <p>Thanks for joining and Happy Battleshifting™!</p>
